[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/master/labs/lab_03.ipynb)
[![image](https://binder.pangeo.io/badge_logo.svg)](https://gishub.org/geog312-pangeo)

**Firstname Lastname**

In [ ]:
from datetime import datetime

now = datetime.now()
print(f"Submitted time: {now}")

## Question 1
**Pizzas:** Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like *I like pepperoni pizza.*

In [9]:
types_of_pizza = "hawaiian", "pepperoni", "meat lover"
for x in types_of_pizza:
  print("I have eaten", x, "pizza before.")

I have eaten hawaiian pizza before.
I have eaten pepperoni pizza before.
I have eaten meat lover pizza before.

Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as *I really love pizza!*

In [8]:
types_of_pizza = "hawaiian", "pepperoni", "meat lover"
for x in types_of_pizza:
  print("I have eaten", x, "pizza before.")

print("These are all so good!")

I have eaten hawaiian pizza before.
I have eaten pepperoni pizza before.
I have eaten meat lover pizza before.
These are all so good!

## Question 2
**Animals:** Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

Modify your program to print a statement about each animal, such as *A dog would make a great pet.*

In [10]:
animals = "shrimp", "whale", "dolphin"
for y in animals:
  print("A", y, "lives underwater.")

A shrimp lives underwater.
A whale lives underwater.
A dolphin lives underwater.

Add a line at the end of your program stating what these animals have in common. You could print a sentence such as *Any of these animals would make a great pet!*

In [11]:
animals = "shrimp", "whale", "dolphin"
for y in animals:
  print("A", y, "lives underwater.")

print("All of these animals live underwater.")

A shrimp lives underwater.
A whale lives underwater.
A dolphin lives underwater.
All of these animals live underwater.

## Question 3
**Counting to Twenty:** Use a for loop to print the numbers from 1 to 20, inclusive.

In [12]:
M = 1
for a in range(1, 21):
  print(M)
  M += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 4
**One Hundred:** Make a list of the numbers from one to one hundred, and then use a for loop to print the numbers.

In [7]:
numbers = range(1,101)
for b in numbers:
  print(b)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Question 5
**Summing a Hundred:** Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one hundred. Also, use the sum() function to see how quickly Python can add a hundred numbers.

In [19]:
one_hundred = list(range(1,101))
print(min(one_hundred))
print(max(one_hundred))
print(sum(one_hundred))

1
100
5050

## Question 6
**Odd Numbers:** Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a `for` loop to print each number.

In [22]:
odd_numbers = list(range(1, 20, 2))
for c in odd_numbers:
  print(c)

1
3
5
7
9
11
13
15
17
19

## Question 7
**Threes:** Make a list of the multiples of 3 from 3 to 30. Use a `for` loop to print the numbers in your list.

In [23]:
multiples_of_three = list(range(3,30,3))
for d in multiples_of_three:
  print(d)

3
6
9
12
15
18
21
24
27

## Question 8
**Cubes:** A number raised to the third power is called a cube. For example, the cube of 2 is written as 2 ** 3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [26]:
oneToTen = 1,2,3,4,5,6,7,8,9,10
cube = []
for e in oneToTen:
  cube.append(e**3)
for f in cube:
  print(f)

1
8
27
64
125
216
343
512
729
1000

## Question 9
**Cube Comprehension:** Use a list comprehension to generate a list of the first 10 cubes.

In [28]:
cubes = [value**2 for value in range(1, 11)]
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Question 10
**Slices:** Using one of the programs you wrote in this lab, add several lines to the end of the program that do the following:

Print the message *The first three items in the list are:*. Then use a slice to print the first three items from that program’s list.

In [29]:
oneToTen = 1,2,3,4,5,6,7,8,9,10
print("The first three items in the list are:", oneToTen[:3])

The first three items in the list are: (1, 2, 3)

Print the message *Three items from the middle of the list are:*. Use a slice to print three items from the middle of the list.

In [31]:
oneToTen = 1,2,3,4,5,6,7,8,9,10
print("The middle three items in the list are:", oneToTen[4:7])

The middle three items in the list are: (5, 6, 7)

Print the message *The last three items in the list are:*. Use a slice to print the last three items in the list.

In [33]:
oneToTen = 1,2,3,4,5,6,7,8,9,10
print("The last three items in the list are:", oneToTen[7:])

The last three items in the list are: (8, 9, 10)

## Question 11
**My Pizzas, Your Pizzas:** Start with your program from Question 1. Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following:

Add a new pizza to the original list.

In [38]:
my_pizzas = ["hawaiian", "pepperoni", "meat lover"]
friend_pizzas = ["hawaiian", "pepperoni", "meat lover"]
my_pizzas.append("cheese")

Add a different pizza to the list `friend_pizzas`.

In [39]:
friend_pizzas.append("veggie")

Prove that you have two separate lists. Print the message *My favorite pizzas are:*, and then use a for loop to print the first list. Print the message *My friend’s favorite pizzas are:*, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [40]:
print("My favorite pizzas are:")
for L in my_pizzas:
  print(L)

print("My friend's favorite pizzas are:")
for P in friend_pizzas:
  print(P)

My favorite pizzas are:
hawaiian
pepperoni
meat lover
cheese
My friend's favorite pizzas are:
hawaiian
pepperoni
meat lover
veggie

## Question 12
**Buffet:** A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.

Use a for loop to print each food the restaurant offers.

In [42]:
buffet = ("pasta", "pizza", "soup", "sandwhich", "salad")
for U in buffet:
  print(U)

pasta
pizza
soup
sandwhich
salad

Try to modify one of the items, and make sure that Python rejects the change.

In [43]:
buffet.remove("pasta")

AttributeError: ignored

The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [44]:
buffet_rewritten = ("pasta", "pizza", "burger", "fries", "salad")
for R in buffet_rewritten:
  print(R)

pasta
pizza
burger
fries
salad